<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <script src="../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../Scripts/Uploader/Uploader6.0.js"></script>
    <link href="../Scripts/Uploader/Uploader6.0.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br />
    <div>
      <p>
          上传文件名：
          <div id="name"></div>
      </p>
      <p>
          相对目录：
          <div id="relativeName"></div>
      </p>
    </div>
    <br /><br /><br />
    <div class="uploader uploader-default" id="uploadBtn"></div>
    <script>
        var uploader = $('#uploadBtn').uploader({
            url: 'ws://localhost:63588/ashx/upload.ashx',
            text: '多个文件上传按钮',
            more: true,
            onSuccess: function (data) {
                $('#name').append(data.newName).append("<br/>");
                $('#relativeName').append(data.relativeName).append("<br/>");
            }
        });
    </script>
</body>
</html>
